<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd        
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/tx 
     	http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

	<tx:annotation-driven />
	<context:property-placeholder location="classpath:db.properties" />
	
	<bean id="jdbcDataSource" class="com.alibaba.druid.pool.DruidDataSource"
		init-method="init" destroy-method="close">
		<property name="defaultCatalog"><value>${catalog}</value></property>
		<property name="url"><value>${master.url}</value></property>
		<property name="username"><value>${master.username}</value></property>
		<property name="password"><value>${slave.password}</value></property>
		<property name="initialSize"><value>${slave.initialSize}</value></property>
		<property name="maxActive"><value>${slave.maxActive}</value></property>
		<property name="proxyFilters">
			<list>
				<ref bean="stat-filter" />
			</list>
		</property>
	</bean>

	<!--配置动态数据源-->
	<bean id="dynamicDataSource" class="com.yonyou.iuap.dynamicds.ds.DynamicDataSource">
		<property name="targetDataSources">
			<map key-type="java.lang.String">
				<entry key="jdbcDataSource" value-ref="jdbcDataSource" />
			</map>
		</property>
		<property name="defaultTargetDataSource" ref="jdbcDataSource" />
		<property name="dsProvider" ref="dsProvider" />
	</bean>
	<bean id="dsProvider" class="com.yonyou.iuap.dynamicds.ds.DefaultDataSourceProvider"/>
	
	<bean id="stat-filter" class="com.alibaba.druid.filter.stat.StatFilter">
		<property name="slowSqlMillis" value="1000" />
		<property name="logSlowSql" value="true" />
		<property name="mergeSql" value="true" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource">
			<ref bean="dynamicDataSource" />
		</property>
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis.xml" />
		<!-- 扫描entity包 使用别名-->
		<property name="typeAliasesPackage" value="com.ybz.entity"/>
		<property name="dataSource" ref="dynamicDataSource" />
		<!-- 扫描sql配置文件:mapper需要的xml文件-->
		<property name="mapperLocations" value="classpath:mapper/*.xml"/>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.ybz.dao" />
	</bean>
</beans>