<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ybz.dao.NodeCommunicateMapper" >
  <resultMap id="BaseResultMap" type="com.ybz.entity.NodeCommunicate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pk" property="pk" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="communicate_type" property="communicateType" jdbcType="VARCHAR" />
    <result column="communicate_date" property="communicateDate" jdbcType="DATE" />
    <result column="expense" property="expense" jdbcType="BIT" />
    <result column="valid" property="valid" jdbcType="BIT" />
    <result column="ts" property="ts" jdbcType="TIMESTAMP" />
    <result column="communicate_start" property="communicateStart" jdbcType="DATE" />
    <result column="communicate_end" property="communicateEnd" jdbcType="DATE" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="imagesystemtype" property="imagesystemtype" jdbcType="VARCHAR" />
    <result column="over_standard" property="overStandard" jdbcType="BIT" />
    <result column="item_pk" property="itemPk" jdbcType="VARCHAR" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="szitem_pk" property="szitemPk" jdbcType="VARCHAR" />
    <result column="szitem_name" property="szitemName" jdbcType="VARCHAR" />
    <result column="reduction_amount" property="reductionAmount" jdbcType="DOUBLE" />
    <result column="reduction_info" property="reductionInfo" jdbcType="VARCHAR" />
    <result column="reduction_time" property="reductionTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.ybz.entity.NodeCommunicateWithBLOBs" extends="BaseResultMap" >
    <result column="filepath" property="filepath" jdbcType="LONGVARCHAR" />
    <result column="note" property="note" jdbcType="LONGVARCHAR" />
    <result column="tag_content" property="tagContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, pk, user_id, phone_number, money, communicate_type, communicate_date, expense, 
    valid, ts, communicate_start, communicate_end, category, imagesystemtype, over_standard, 
    item_pk, item_name, szitem_pk, szitem_name, reduction_amount, reduction_info, reduction_time
  </sql>
  <sql id="Blob_Column_List" >
    filepath, note, tag_content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.ybz.entity.NodeCommunicateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from node_communicate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ybz.entity.NodeCommunicateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from node_communicate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from node_communicate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from node_communicate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ybz.entity.NodeCommunicateExample" >
    delete from node_communicate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ybz.entity.NodeCommunicateWithBLOBs" >
    insert into node_communicate (id, pk, user_id, 
      phone_number, money, communicate_type, 
      communicate_date, expense, valid, 
      ts, communicate_start, communicate_end, 
      category, imagesystemtype, over_standard, 
      item_pk, item_name, szitem_pk, 
      szitem_name, reduction_amount, reduction_info, 
      reduction_time, filepath, note, 
      tag_content)
    values (#{id,jdbcType=INTEGER}, #{pk,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{phoneNumber,jdbcType=VARCHAR}, #{money,jdbcType=DECIMAL}, #{communicateType,jdbcType=VARCHAR}, 
      #{communicateDate,jdbcType=DATE}, #{expense,jdbcType=BIT}, #{valid,jdbcType=BIT}, 
      #{ts,jdbcType=TIMESTAMP}, #{communicateStart,jdbcType=DATE}, #{communicateEnd,jdbcType=DATE}, 
      #{category,jdbcType=VARCHAR}, #{imagesystemtype,jdbcType=VARCHAR}, #{overStandard,jdbcType=BIT}, 
      #{itemPk,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, #{szitemPk,jdbcType=VARCHAR}, 
      #{szitemName,jdbcType=VARCHAR}, #{reductionAmount,jdbcType=DOUBLE}, #{reductionInfo,jdbcType=VARCHAR}, 
      #{reductionTime,jdbcType=TIMESTAMP}, #{filepath,jdbcType=LONGVARCHAR}, #{note,jdbcType=LONGVARCHAR}, 
      #{tagContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ybz.entity.NodeCommunicateWithBLOBs" >
    insert into node_communicate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pk != null" >
        pk,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="phoneNumber != null" >
        phone_number,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="communicateType != null" >
        communicate_type,
      </if>
      <if test="communicateDate != null" >
        communicate_date,
      </if>
      <if test="expense != null" >
        expense,
      </if>
      <if test="valid != null" >
        valid,
      </if>
      <if test="ts != null" >
        ts,
      </if>
      <if test="communicateStart != null" >
        communicate_start,
      </if>
      <if test="communicateEnd != null" >
        communicate_end,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="imagesystemtype != null" >
        imagesystemtype,
      </if>
      <if test="overStandard != null" >
        over_standard,
      </if>
      <if test="itemPk != null" >
        item_pk,
      </if>
      <if test="itemName != null" >
        item_name,
      </if>
      <if test="szitemPk != null" >
        szitem_pk,
      </if>
      <if test="szitemName != null" >
        szitem_name,
      </if>
      <if test="reductionAmount != null" >
        reduction_amount,
      </if>
      <if test="reductionInfo != null" >
        reduction_info,
      </if>
      <if test="reductionTime != null" >
        reduction_time,
      </if>
      <if test="filepath != null" >
        filepath,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="tagContent != null" >
        tag_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pk != null" >
        #{pk,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="communicateType != null" >
        #{communicateType,jdbcType=VARCHAR},
      </if>
      <if test="communicateDate != null" >
        #{communicateDate,jdbcType=DATE},
      </if>
      <if test="expense != null" >
        #{expense,jdbcType=BIT},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=BIT},
      </if>
      <if test="ts != null" >
        #{ts,jdbcType=TIMESTAMP},
      </if>
      <if test="communicateStart != null" >
        #{communicateStart,jdbcType=DATE},
      </if>
      <if test="communicateEnd != null" >
        #{communicateEnd,jdbcType=DATE},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="imagesystemtype != null" >
        #{imagesystemtype,jdbcType=VARCHAR},
      </if>
      <if test="overStandard != null" >
        #{overStandard,jdbcType=BIT},
      </if>
      <if test="itemPk != null" >
        #{itemPk,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="szitemPk != null" >
        #{szitemPk,jdbcType=VARCHAR},
      </if>
      <if test="szitemName != null" >
        #{szitemName,jdbcType=VARCHAR},
      </if>
      <if test="reductionAmount != null" >
        #{reductionAmount,jdbcType=DOUBLE},
      </if>
      <if test="reductionInfo != null" >
        #{reductionInfo,jdbcType=VARCHAR},
      </if>
      <if test="reductionTime != null" >
        #{reductionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="filepath != null" >
        #{filepath,jdbcType=LONGVARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=LONGVARCHAR},
      </if>
      <if test="tagContent != null" >
        #{tagContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ybz.entity.NodeCommunicateExample" resultType="java.lang.Integer" >
    select count(*) from node_communicate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update node_communicate
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pk != null" >
        pk = #{record.pk,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneNumber != null" >
        phone_number = #{record.phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null" >
        money = #{record.money,jdbcType=DECIMAL},
      </if>
      <if test="record.communicateType != null" >
        communicate_type = #{record.communicateType,jdbcType=VARCHAR},
      </if>
      <if test="record.communicateDate != null" >
        communicate_date = #{record.communicateDate,jdbcType=DATE},
      </if>
      <if test="record.expense != null" >
        expense = #{record.expense,jdbcType=BIT},
      </if>
      <if test="record.valid != null" >
        valid = #{record.valid,jdbcType=BIT},
      </if>
      <if test="record.ts != null" >
        ts = #{record.ts,jdbcType=TIMESTAMP},
      </if>
      <if test="record.communicateStart != null" >
        communicate_start = #{record.communicateStart,jdbcType=DATE},
      </if>
      <if test="record.communicateEnd != null" >
        communicate_end = #{record.communicateEnd,jdbcType=DATE},
      </if>
      <if test="record.category != null" >
        category = #{record.category,jdbcType=VARCHAR},
      </if>
      <if test="record.imagesystemtype != null" >
        imagesystemtype = #{record.imagesystemtype,jdbcType=VARCHAR},
      </if>
      <if test="record.overStandard != null" >
        over_standard = #{record.overStandard,jdbcType=BIT},
      </if>
      <if test="record.itemPk != null" >
        item_pk = #{record.itemPk,jdbcType=VARCHAR},
      </if>
      <if test="record.itemName != null" >
        item_name = #{record.itemName,jdbcType=VARCHAR},
      </if>
      <if test="record.szitemPk != null" >
        szitem_pk = #{record.szitemPk,jdbcType=VARCHAR},
      </if>
      <if test="record.szitemName != null" >
        szitem_name = #{record.szitemName,jdbcType=VARCHAR},
      </if>
      <if test="record.reductionAmount != null" >
        reduction_amount = #{record.reductionAmount,jdbcType=DOUBLE},
      </if>
      <if test="record.reductionInfo != null" >
        reduction_info = #{record.reductionInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.reductionTime != null" >
        reduction_time = #{record.reductionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.filepath != null" >
        filepath = #{record.filepath,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.note != null" >
        note = #{record.note,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.tagContent != null" >
        tag_content = #{record.tagContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update node_communicate
    set id = #{record.id,jdbcType=INTEGER},
      pk = #{record.pk,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      phone_number = #{record.phoneNumber,jdbcType=VARCHAR},
      money = #{record.money,jdbcType=DECIMAL},
      communicate_type = #{record.communicateType,jdbcType=VARCHAR},
      communicate_date = #{record.communicateDate,jdbcType=DATE},
      expense = #{record.expense,jdbcType=BIT},
      valid = #{record.valid,jdbcType=BIT},
      ts = #{record.ts,jdbcType=TIMESTAMP},
      communicate_start = #{record.communicateStart,jdbcType=DATE},
      communicate_end = #{record.communicateEnd,jdbcType=DATE},
      category = #{record.category,jdbcType=VARCHAR},
      imagesystemtype = #{record.imagesystemtype,jdbcType=VARCHAR},
      over_standard = #{record.overStandard,jdbcType=BIT},
      item_pk = #{record.itemPk,jdbcType=VARCHAR},
      item_name = #{record.itemName,jdbcType=VARCHAR},
      szitem_pk = #{record.szitemPk,jdbcType=VARCHAR},
      szitem_name = #{record.szitemName,jdbcType=VARCHAR},
      reduction_amount = #{record.reductionAmount,jdbcType=DOUBLE},
      reduction_info = #{record.reductionInfo,jdbcType=VARCHAR},
      reduction_time = #{record.reductionTime,jdbcType=TIMESTAMP},
      filepath = #{record.filepath,jdbcType=LONGVARCHAR},
      note = #{record.note,jdbcType=LONGVARCHAR},
      tag_content = #{record.tagContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update node_communicate
    set id = #{record.id,jdbcType=INTEGER},
      pk = #{record.pk,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      phone_number = #{record.phoneNumber,jdbcType=VARCHAR},
      money = #{record.money,jdbcType=DECIMAL},
      communicate_type = #{record.communicateType,jdbcType=VARCHAR},
      communicate_date = #{record.communicateDate,jdbcType=DATE},
      expense = #{record.expense,jdbcType=BIT},
      valid = #{record.valid,jdbcType=BIT},
      ts = #{record.ts,jdbcType=TIMESTAMP},
      communicate_start = #{record.communicateStart,jdbcType=DATE},
      communicate_end = #{record.communicateEnd,jdbcType=DATE},
      category = #{record.category,jdbcType=VARCHAR},
      imagesystemtype = #{record.imagesystemtype,jdbcType=VARCHAR},
      over_standard = #{record.overStandard,jdbcType=BIT},
      item_pk = #{record.itemPk,jdbcType=VARCHAR},
      item_name = #{record.itemName,jdbcType=VARCHAR},
      szitem_pk = #{record.szitemPk,jdbcType=VARCHAR},
      szitem_name = #{record.szitemName,jdbcType=VARCHAR},
      reduction_amount = #{record.reductionAmount,jdbcType=DOUBLE},
      reduction_info = #{record.reductionInfo,jdbcType=VARCHAR},
      reduction_time = #{record.reductionTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ybz.entity.NodeCommunicateWithBLOBs" >
    update node_communicate
    <set >
      <if test="pk != null" >
        pk = #{pk,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="communicateType != null" >
        communicate_type = #{communicateType,jdbcType=VARCHAR},
      </if>
      <if test="communicateDate != null" >
        communicate_date = #{communicateDate,jdbcType=DATE},
      </if>
      <if test="expense != null" >
        expense = #{expense,jdbcType=BIT},
      </if>
      <if test="valid != null" >
        valid = #{valid,jdbcType=BIT},
      </if>
      <if test="ts != null" >
        ts = #{ts,jdbcType=TIMESTAMP},
      </if>
      <if test="communicateStart != null" >
        communicate_start = #{communicateStart,jdbcType=DATE},
      </if>
      <if test="communicateEnd != null" >
        communicate_end = #{communicateEnd,jdbcType=DATE},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="imagesystemtype != null" >
        imagesystemtype = #{imagesystemtype,jdbcType=VARCHAR},
      </if>
      <if test="overStandard != null" >
        over_standard = #{overStandard,jdbcType=BIT},
      </if>
      <if test="itemPk != null" >
        item_pk = #{itemPk,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="szitemPk != null" >
        szitem_pk = #{szitemPk,jdbcType=VARCHAR},
      </if>
      <if test="szitemName != null" >
        szitem_name = #{szitemName,jdbcType=VARCHAR},
      </if>
      <if test="reductionAmount != null" >
        reduction_amount = #{reductionAmount,jdbcType=DOUBLE},
      </if>
      <if test="reductionInfo != null" >
        reduction_info = #{reductionInfo,jdbcType=VARCHAR},
      </if>
      <if test="reductionTime != null" >
        reduction_time = #{reductionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="filepath != null" >
        filepath = #{filepath,jdbcType=LONGVARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=LONGVARCHAR},
      </if>
      <if test="tagContent != null" >
        tag_content = #{tagContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ybz.entity.NodeCommunicateWithBLOBs" >
    update node_communicate
    set pk = #{pk,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      money = #{money,jdbcType=DECIMAL},
      communicate_type = #{communicateType,jdbcType=VARCHAR},
      communicate_date = #{communicateDate,jdbcType=DATE},
      expense = #{expense,jdbcType=BIT},
      valid = #{valid,jdbcType=BIT},
      ts = #{ts,jdbcType=TIMESTAMP},
      communicate_start = #{communicateStart,jdbcType=DATE},
      communicate_end = #{communicateEnd,jdbcType=DATE},
      category = #{category,jdbcType=VARCHAR},
      imagesystemtype = #{imagesystemtype,jdbcType=VARCHAR},
      over_standard = #{overStandard,jdbcType=BIT},
      item_pk = #{itemPk,jdbcType=VARCHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      szitem_pk = #{szitemPk,jdbcType=VARCHAR},
      szitem_name = #{szitemName,jdbcType=VARCHAR},
      reduction_amount = #{reductionAmount,jdbcType=DOUBLE},
      reduction_info = #{reductionInfo,jdbcType=VARCHAR},
      reduction_time = #{reductionTime,jdbcType=TIMESTAMP},
      filepath = #{filepath,jdbcType=LONGVARCHAR},
      note = #{note,jdbcType=LONGVARCHAR},
      tag_content = #{tagContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ybz.entity.NodeCommunicate" >
    update node_communicate
    set pk = #{pk,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      money = #{money,jdbcType=DECIMAL},
      communicate_type = #{communicateType,jdbcType=VARCHAR},
      communicate_date = #{communicateDate,jdbcType=DATE},
      expense = #{expense,jdbcType=BIT},
      valid = #{valid,jdbcType=BIT},
      ts = #{ts,jdbcType=TIMESTAMP},
      communicate_start = #{communicateStart,jdbcType=DATE},
      communicate_end = #{communicateEnd,jdbcType=DATE},
      category = #{category,jdbcType=VARCHAR},
      imagesystemtype = #{imagesystemtype,jdbcType=VARCHAR},
      over_standard = #{overStandard,jdbcType=BIT},
      item_pk = #{itemPk,jdbcType=VARCHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      szitem_pk = #{szitemPk,jdbcType=VARCHAR},
      szitem_name = #{szitemName,jdbcType=VARCHAR},
      reduction_amount = #{reductionAmount,jdbcType=DOUBLE},
      reduction_info = #{reductionInfo,jdbcType=VARCHAR},
      reduction_time = #{reductionTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryMoneyByDate" resultType="java.lang.Double" parameterType="com.ybz.entity.NodeCommunicate">
    select SUM(money) from node_communicate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </select>
</mapper>