<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ybz.dao.OcsHotelMapper" >
  <resultMap id="BaseResultMap" type="com.ybz.entity.OcsHotel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pk" property="pk" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="tenant_id" property="tenantId" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="DOUBLE" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="start_date" property="startDate" jdbcType="DATE" />
    <result column="end_date" property="endDate" jdbcType="DATE" />
    <result column="hotel" property="hotel" jdbcType="VARCHAR" />
    <result column="expense" property="expense" jdbcType="BIT" />
    <result column="valid" property="valid" jdbcType="BIT" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="ts" property="ts" jdbcType="TIMESTAMP" />
    <result column="taxrate" property="taxrate" jdbcType="DOUBLE" />
    <result column="includtax" property="includtax" jdbcType="DOUBLE" />
    <result column="nottax" property="nottax" jdbcType="DOUBLE" />
    <result column="invoicenum" property="invoicenum" jdbcType="VARCHAR" />
    <result column="demo1" property="demo1" jdbcType="VARCHAR" />
    <result column="imagesystemtype" property="imagesystemtype" jdbcType="VARCHAR" />
    <result column="over_standard" property="overStandard" jdbcType="BIT" />
    <result column="citypk" property="citypk" jdbcType="VARCHAR" />
    <result column="item_pk" property="itemPk" jdbcType="VARCHAR" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="szitem_pk" property="szitemPk" jdbcType="VARCHAR" />
    <result column="szitem_name" property="szitemName" jdbcType="VARCHAR" />
    <result column="reduction_amount" property="reductionAmount" jdbcType="DOUBLE" />
    <result column="reduction_info" property="reductionInfo" jdbcType="VARCHAR" />
    <result column="reduction_time" property="reductionTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.ybz.entity.OcsHotelWithBLOBs" extends="BaseResultMap" >
    <result column="note" property="note" jdbcType="LONGVARCHAR" />
    <result column="filepath" property="filepath" jdbcType="LONGVARCHAR" />
    <result column="tag_content" property="tagContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pk, user_id, tenant_id, money, city, start_date, end_date, hotel, expense, valid,
    category, ts, taxrate, includtax, nottax, invoicenum, demo1, imagesystemtype, over_standard, 
    citypk, item_pk, item_name, szitem_pk, szitem_name, reduction_amount, reduction_info, 
    reduction_time, create_time
  </sql>
  <sql id="Blob_Column_List" >
    note, filepath, tag_content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.ybz.entity.OcsHotelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ocs_hotel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ybz.entity.OcsHotelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ocs_hotel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ocs_hotel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ocs_hotel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ybz.entity.OcsHotelExample" >
    delete from ocs_hotel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ybz.entity.OcsHotelWithBLOBs" >
    insert into ocs_hotel (id, pk, user_id, 
      tenant_id, money, city, 
      start_date, end_date, hotel, 
      expense, valid, category, ts, 
      taxrate, includtax, nottax, 
      invoicenum, demo1, imagesystemtype, 
      over_standard, citypk, item_pk, 
      item_name, szitem_pk, szitem_name, 
      reduction_amount, reduction_info, reduction_time, 
      create_time, note, filepath, 
      tag_content)
    values (#{id,jdbcType=INTEGER}, #{pk,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{tenantId,jdbcType=VARCHAR}, #{money,jdbcType=DOUBLE}, #{city,jdbcType=VARCHAR}, 
      #{startDate,jdbcType=DATE}, #{endDate,jdbcType=DATE}, #{hotel,jdbcType=VARCHAR}, 
      #{expense,jdbcType=BIT}, #{valid,jdbcType=BIT}, #{category,jdbcType=VARCHAR}, #{ts,jdbcType=TIMESTAMP}, 
      #{taxrate,jdbcType=DOUBLE}, #{includtax,jdbcType=DOUBLE}, #{nottax,jdbcType=DOUBLE}, 
      #{invoicenum,jdbcType=VARCHAR}, #{demo1,jdbcType=VARCHAR}, #{imagesystemtype,jdbcType=VARCHAR}, 
      #{overStandard,jdbcType=BIT}, #{citypk,jdbcType=VARCHAR}, #{itemPk,jdbcType=VARCHAR}, 
      #{itemName,jdbcType=VARCHAR}, #{szitemPk,jdbcType=VARCHAR}, #{szitemName,jdbcType=VARCHAR}, 
      #{reductionAmount,jdbcType=DOUBLE}, #{reductionInfo,jdbcType=VARCHAR}, #{reductionTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{note,jdbcType=LONGVARCHAR}, #{filepath,jdbcType=LONGVARCHAR}, 
      #{tagContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ybz.entity.OcsHotelWithBLOBs" >
    insert into ocs_hotel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pk != null" >
        pk,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="tenantId != null" >
        tenant_id,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="hotel != null" >
        hotel,
      </if>
      <if test="expense != null" >
        expense,
      </if>
      <if test="valid != null" >
        valid,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="ts != null" >
        ts,
      </if>
      <if test="taxrate != null" >
        taxrate,
      </if>
      <if test="includtax != null" >
        includtax,
      </if>
      <if test="nottax != null" >
        nottax,
      </if>
      <if test="invoicenum != null" >
        invoicenum,
      </if>
      <if test="demo1 != null" >
        demo1,
      </if>
      <if test="imagesystemtype != null" >
        imagesystemtype,
      </if>
      <if test="overStandard != null" >
        over_standard,
      </if>
      <if test="citypk != null" >
        citypk,
      </if>
      <if test="itemPk != null" >
        item_pk,
      </if>
      <if test="itemName != null" >
        item_name,
      </if>
      <if test="szitemPk != null" >
        szitem_pk,
      </if>
      <if test="szitemName != null" >
        szitem_name,
      </if>
      <if test="reductionAmount != null" >
        reduction_amount,
      </if>
      <if test="reductionInfo != null" >
        reduction_info,
      </if>
      <if test="reductionTime != null" >
        reduction_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="filepath != null" >
        filepath,
      </if>
      <if test="tagContent != null" >
        tag_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pk != null" >
        #{pk,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DOUBLE},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=DATE},
      </if>
      <if test="hotel != null" >
        #{hotel,jdbcType=VARCHAR},
      </if>
      <if test="expense != null" >
        #{expense,jdbcType=BIT},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=BIT},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="ts != null" >
        #{ts,jdbcType=TIMESTAMP},
      </if>
      <if test="taxrate != null" >
        #{taxrate,jdbcType=DOUBLE},
      </if>
      <if test="includtax != null" >
        #{includtax,jdbcType=DOUBLE},
      </if>
      <if test="nottax != null" >
        #{nottax,jdbcType=DOUBLE},
      </if>
      <if test="invoicenum != null" >
        #{invoicenum,jdbcType=VARCHAR},
      </if>
      <if test="demo1 != null" >
        #{demo1,jdbcType=VARCHAR},
      </if>
      <if test="imagesystemtype != null" >
        #{imagesystemtype,jdbcType=VARCHAR},
      </if>
      <if test="overStandard != null" >
        #{overStandard,jdbcType=BIT},
      </if>
      <if test="citypk != null" >
        #{citypk,jdbcType=VARCHAR},
      </if>
      <if test="itemPk != null" >
        #{itemPk,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="szitemPk != null" >
        #{szitemPk,jdbcType=VARCHAR},
      </if>
      <if test="szitemName != null" >
        #{szitemName,jdbcType=VARCHAR},
      </if>
      <if test="reductionAmount != null" >
        #{reductionAmount,jdbcType=DOUBLE},
      </if>
      <if test="reductionInfo != null" >
        #{reductionInfo,jdbcType=VARCHAR},
      </if>
      <if test="reductionTime != null" >
        #{reductionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null" >
        #{note,jdbcType=LONGVARCHAR},
      </if>
      <if test="filepath != null" >
        #{filepath,jdbcType=LONGVARCHAR},
      </if>
      <if test="tagContent != null" >
        #{tagContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ybz.entity.OcsHotelExample" resultType="java.lang.Integer" >
    select count(*) from ocs_hotel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ocs_hotel
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pk != null" >
        pk = #{record.pk,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantId != null" >
        tenant_id = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null" >
        money = #{record.money,jdbcType=DOUBLE},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.startDate != null" >
        start_date = #{record.startDate,jdbcType=DATE},
      </if>
      <if test="record.endDate != null" >
        end_date = #{record.endDate,jdbcType=DATE},
      </if>
      <if test="record.hotel != null" >
        hotel = #{record.hotel,jdbcType=VARCHAR},
      </if>
      <if test="record.expense != null" >
        expense = #{record.expense,jdbcType=BIT},
      </if>
      <if test="record.valid != null" >
        valid = #{record.valid,jdbcType=BIT},
      </if>
      <if test="record.category != null" >
        category = #{record.category,jdbcType=VARCHAR},
      </if>
      <if test="record.ts != null" >
        ts = #{record.ts,jdbcType=TIMESTAMP},
      </if>
      <if test="record.taxrate != null" >
        taxrate = #{record.taxrate,jdbcType=DOUBLE},
      </if>
      <if test="record.includtax != null" >
        includtax = #{record.includtax,jdbcType=DOUBLE},
      </if>
      <if test="record.nottax != null" >
        nottax = #{record.nottax,jdbcType=DOUBLE},
      </if>
      <if test="record.invoicenum != null" >
        invoicenum = #{record.invoicenum,jdbcType=VARCHAR},
      </if>
      <if test="record.demo1 != null" >
        demo1 = #{record.demo1,jdbcType=VARCHAR},
      </if>
      <if test="record.imagesystemtype != null" >
        imagesystemtype = #{record.imagesystemtype,jdbcType=VARCHAR},
      </if>
      <if test="record.overStandard != null" >
        over_standard = #{record.overStandard,jdbcType=BIT},
      </if>
      <if test="record.citypk != null" >
        citypk = #{record.citypk,jdbcType=VARCHAR},
      </if>
      <if test="record.itemPk != null" >
        item_pk = #{record.itemPk,jdbcType=VARCHAR},
      </if>
      <if test="record.itemName != null" >
        item_name = #{record.itemName,jdbcType=VARCHAR},
      </if>
      <if test="record.szitemPk != null" >
        szitem_pk = #{record.szitemPk,jdbcType=VARCHAR},
      </if>
      <if test="record.szitemName != null" >
        szitem_name = #{record.szitemName,jdbcType=VARCHAR},
      </if>
      <if test="record.reductionAmount != null" >
        reduction_amount = #{record.reductionAmount,jdbcType=DOUBLE},
      </if>
      <if test="record.reductionInfo != null" >
        reduction_info = #{record.reductionInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.reductionTime != null" >
        reduction_time = #{record.reductionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.note != null" >
        note = #{record.note,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.filepath != null" >
        filepath = #{record.filepath,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.tagContent != null" >
        tag_content = #{record.tagContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update ocs_hotel
    set id = #{record.id,jdbcType=INTEGER},
      pk = #{record.pk,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      tenant_id = #{record.tenantId,jdbcType=VARCHAR},
      money = #{record.money,jdbcType=DOUBLE},
      city = #{record.city,jdbcType=VARCHAR},
      start_date = #{record.startDate,jdbcType=DATE},
      end_date = #{record.endDate,jdbcType=DATE},
      hotel = #{record.hotel,jdbcType=VARCHAR},
      expense = #{record.expense,jdbcType=BIT},
      valid = #{record.valid,jdbcType=BIT},
      category = #{record.category,jdbcType=VARCHAR},
      ts = #{record.ts,jdbcType=TIMESTAMP},
      taxrate = #{record.taxrate,jdbcType=DOUBLE},
      includtax = #{record.includtax,jdbcType=DOUBLE},
      nottax = #{record.nottax,jdbcType=DOUBLE},
      invoicenum = #{record.invoicenum,jdbcType=VARCHAR},
      demo1 = #{record.demo1,jdbcType=VARCHAR},
      imagesystemtype = #{record.imagesystemtype,jdbcType=VARCHAR},
      over_standard = #{record.overStandard,jdbcType=BIT},
      citypk = #{record.citypk,jdbcType=VARCHAR},
      item_pk = #{record.itemPk,jdbcType=VARCHAR},
      item_name = #{record.itemName,jdbcType=VARCHAR},
      szitem_pk = #{record.szitemPk,jdbcType=VARCHAR},
      szitem_name = #{record.szitemName,jdbcType=VARCHAR},
      reduction_amount = #{record.reductionAmount,jdbcType=DOUBLE},
      reduction_info = #{record.reductionInfo,jdbcType=VARCHAR},
      reduction_time = #{record.reductionTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      note = #{record.note,jdbcType=LONGVARCHAR},
      filepath = #{record.filepath,jdbcType=LONGVARCHAR},
      tag_content = #{record.tagContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ocs_hotel
    set id = #{record.id,jdbcType=INTEGER},
      pk = #{record.pk,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      tenant_id = #{record.tenantId,jdbcType=VARCHAR},
      money = #{record.money,jdbcType=DOUBLE},
      city = #{record.city,jdbcType=VARCHAR},
      start_date = #{record.startDate,jdbcType=DATE},
      end_date = #{record.endDate,jdbcType=DATE},
      hotel = #{record.hotel,jdbcType=VARCHAR},
      expense = #{record.expense,jdbcType=BIT},
      valid = #{record.valid,jdbcType=BIT},
      category = #{record.category,jdbcType=VARCHAR},
      ts = #{record.ts,jdbcType=TIMESTAMP},
      taxrate = #{record.taxrate,jdbcType=DOUBLE},
      includtax = #{record.includtax,jdbcType=DOUBLE},
      nottax = #{record.nottax,jdbcType=DOUBLE},
      invoicenum = #{record.invoicenum,jdbcType=VARCHAR},
      demo1 = #{record.demo1,jdbcType=VARCHAR},
      imagesystemtype = #{record.imagesystemtype,jdbcType=VARCHAR},
      over_standard = #{record.overStandard,jdbcType=BIT},
      citypk = #{record.citypk,jdbcType=VARCHAR},
      item_pk = #{record.itemPk,jdbcType=VARCHAR},
      item_name = #{record.itemName,jdbcType=VARCHAR},
      szitem_pk = #{record.szitemPk,jdbcType=VARCHAR},
      szitem_name = #{record.szitemName,jdbcType=VARCHAR},
      reduction_amount = #{record.reductionAmount,jdbcType=DOUBLE},
      reduction_info = #{record.reductionInfo,jdbcType=VARCHAR},
      reduction_time = #{record.reductionTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ybz.entity.OcsHotelWithBLOBs" >
    update ocs_hotel
    <set >
      <if test="pk != null" >
        pk = #{pk,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null" >
        tenant_id = #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DOUBLE},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=DATE},
      </if>
      <if test="hotel != null" >
        hotel = #{hotel,jdbcType=VARCHAR},
      </if>
      <if test="expense != null" >
        expense = #{expense,jdbcType=BIT},
      </if>
      <if test="valid != null" >
        valid = #{valid,jdbcType=BIT},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="ts != null" >
        ts = #{ts,jdbcType=TIMESTAMP},
      </if>
      <if test="taxrate != null" >
        taxrate = #{taxrate,jdbcType=DOUBLE},
      </if>
      <if test="includtax != null" >
        includtax = #{includtax,jdbcType=DOUBLE},
      </if>
      <if test="nottax != null" >
        nottax = #{nottax,jdbcType=DOUBLE},
      </if>
      <if test="invoicenum != null" >
        invoicenum = #{invoicenum,jdbcType=VARCHAR},
      </if>
      <if test="demo1 != null" >
        demo1 = #{demo1,jdbcType=VARCHAR},
      </if>
      <if test="imagesystemtype != null" >
        imagesystemtype = #{imagesystemtype,jdbcType=VARCHAR},
      </if>
      <if test="overStandard != null" >
        over_standard = #{overStandard,jdbcType=BIT},
      </if>
      <if test="citypk != null" >
        citypk = #{citypk,jdbcType=VARCHAR},
      </if>
      <if test="itemPk != null" >
        item_pk = #{itemPk,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="szitemPk != null" >
        szitem_pk = #{szitemPk,jdbcType=VARCHAR},
      </if>
      <if test="szitemName != null" >
        szitem_name = #{szitemName,jdbcType=VARCHAR},
      </if>
      <if test="reductionAmount != null" >
        reduction_amount = #{reductionAmount,jdbcType=DOUBLE},
      </if>
      <if test="reductionInfo != null" >
        reduction_info = #{reductionInfo,jdbcType=VARCHAR},
      </if>
      <if test="reductionTime != null" >
        reduction_time = #{reductionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=LONGVARCHAR},
      </if>
      <if test="filepath != null" >
        filepath = #{filepath,jdbcType=LONGVARCHAR},
      </if>
      <if test="tagContent != null" >
        tag_content = #{tagContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ybz.entity.OcsHotelWithBLOBs" >
    update ocs_hotel
    set pk = #{pk,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      tenant_id = #{tenantId,jdbcType=VARCHAR},
      money = #{money,jdbcType=DOUBLE},
      city = #{city,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=DATE},
      end_date = #{endDate,jdbcType=DATE},
      hotel = #{hotel,jdbcType=VARCHAR},
      expense = #{expense,jdbcType=BIT},
      valid = #{valid,jdbcType=BIT},
      category = #{category,jdbcType=VARCHAR},
      ts = #{ts,jdbcType=TIMESTAMP},
      taxrate = #{taxrate,jdbcType=DOUBLE},
      includtax = #{includtax,jdbcType=DOUBLE},
      nottax = #{nottax,jdbcType=DOUBLE},
      invoicenum = #{invoicenum,jdbcType=VARCHAR},
      demo1 = #{demo1,jdbcType=VARCHAR},
      imagesystemtype = #{imagesystemtype,jdbcType=VARCHAR},
      over_standard = #{overStandard,jdbcType=BIT},
      citypk = #{citypk,jdbcType=VARCHAR},
      item_pk = #{itemPk,jdbcType=VARCHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      szitem_pk = #{szitemPk,jdbcType=VARCHAR},
      szitem_name = #{szitemName,jdbcType=VARCHAR},
      reduction_amount = #{reductionAmount,jdbcType=DOUBLE},
      reduction_info = #{reductionInfo,jdbcType=VARCHAR},
      reduction_time = #{reductionTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      note = #{note,jdbcType=LONGVARCHAR},
      filepath = #{filepath,jdbcType=LONGVARCHAR},
      tag_content = #{tagContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ybz.entity.OcsHotel" >
    update ocs_hotel
    set pk = #{pk,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      tenant_id = #{tenantId,jdbcType=VARCHAR},
      money = #{money,jdbcType=DOUBLE},
      city = #{city,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=DATE},
      end_date = #{endDate,jdbcType=DATE},
      hotel = #{hotel,jdbcType=VARCHAR},
      expense = #{expense,jdbcType=BIT},
      valid = #{valid,jdbcType=BIT},
      category = #{category,jdbcType=VARCHAR},
      ts = #{ts,jdbcType=TIMESTAMP},
      taxrate = #{taxrate,jdbcType=DOUBLE},
      includtax = #{includtax,jdbcType=DOUBLE},
      nottax = #{nottax,jdbcType=DOUBLE},
      invoicenum = #{invoicenum,jdbcType=VARCHAR},
      demo1 = #{demo1,jdbcType=VARCHAR},
      imagesystemtype = #{imagesystemtype,jdbcType=VARCHAR},
      over_standard = #{overStandard,jdbcType=BIT},
      citypk = #{citypk,jdbcType=VARCHAR},
      item_pk = #{itemPk,jdbcType=VARCHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      szitem_pk = #{szitemPk,jdbcType=VARCHAR},
      szitem_name = #{szitemName,jdbcType=VARCHAR},
      reduction_amount = #{reductionAmount,jdbcType=DOUBLE},
      reduction_info = #{reductionInfo,jdbcType=VARCHAR},
      reduction_time = #{reductionTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryMoneyByDate" resultType="java.lang.Double" parameterType="com.ybz.entity.OcsHotelExample">
    select SUM(money) from ocs_hotel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </select>

  <insert id="insertByBatch" parameterType="java.util.List" >
    insert into ocs_hotel (pk, user_id,
    tenant_id, money, city,
    start_date, end_date, hotel,
    expense, valid, category, ts,
    taxrate, includtax, nottax,
    invoicenum, demo1, imagesystemtype,
    over_standard, citypk, item_pk,
    item_name, szitem_pk, szitem_name,
    reduction_amount, reduction_info, reduction_time,
    create_time)
    values
    <foreach collection="list" item="item" index="index" separator=",">
    (#{item.pk,jdbcType=VARCHAR}, #{item.userId,jdbcType=VARCHAR},
    #{item.tenantId,jdbcType=VARCHAR}, #{item.money,jdbcType=DOUBLE}, #{item.city,jdbcType=VARCHAR},
    #{item.startDate,jdbcType=DATE}, #{item.endDate,jdbcType=DATE}, #{item.hotel,jdbcType=VARCHAR},
    #{item.expense,jdbcType=BIT}, #{item.valid,jdbcType=BIT}, #{item.category,jdbcType=VARCHAR}, #{item.ts,jdbcType=TIMESTAMP},
    #{item.taxrate,jdbcType=DOUBLE}, #{item.includtax,jdbcType=DOUBLE}, #{item.nottax,jdbcType=DOUBLE},
    #{item.invoicenum,jdbcType=VARCHAR}, #{item.demo1,jdbcType=VARCHAR}, #{item.imagesystemtype,jdbcType=VARCHAR},
    #{item.overStandard,jdbcType=BIT}, #{item.citypk,jdbcType=VARCHAR}, #{item.itemPk,jdbcType=VARCHAR},
    #{item.itemName,jdbcType=VARCHAR}, #{item.szitemPk,jdbcType=VARCHAR}, #{item.szitemName,jdbcType=VARCHAR},
    #{item.reductionAmount,jdbcType=DOUBLE}, #{item.reductionInfo,jdbcType=VARCHAR}, #{item.reductionTime,jdbcType=TIMESTAMP},
    #{item.createTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>

  <select id="selectMaxDate" resultType="java.lang.String">
    select MAX(ts) from ocs_hotel
  </select>

</mapper>